[user]
  email = bbusemeyer@gmail.com
  name = Brian Busemeyer
[core]
  editor = vim
[push]
	default = simple

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
